.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1em;
}

[data-theme="dark"],
:root:not([data-theme="light"]) {
.footer {
    box-shadow: 0px 10px 7px 22px var(--pico-color-blue-950);
    background-color: var(--pico-color-blue-950);
}
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    .footer {
        background-color: var(--pico-color-blue-50);
        box-shadow: 0px 10px 7px 22px var(--pico-color-blue-50);
    }
}
